In [38]:
# This is part 2 Basis: Dataframes,Data Cleaning 

import pandas as pd
import numpy as np

In [4]:
#creating Df from dictionary of list
product_data = {'ProductName':['Product A','Product B','Product C'],'ProductPrice':[22250,16600,12500]}
df = pd.DataFrame(product_data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [6]:
#creating Df from dictionary of list and specifying index
product_Ids = ['A','B','C']
df = pd.DataFrame(product_data, index = product_Ids)
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [9]:
#professional way of creating dataframe
#good p#ractice
df=pd.DataFrame(data = [['Product A',22250],['Product B',16600],['Product C',12500]],
                columns = ['ProductName','ProductPrice'],
                index = ['A','B','C'])
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [40]:
array_a = np.array([[3,2,1],[6,3,2]])
array_a

array([[3, 2, 1],
       [6, 3, 2]])

In [41]:
pd.DataFrame(array_a)

   0  1  2
0  3  2  1
1  6  3  2

In [42]:
type(pd.DataFrame(array_a))

pandas.core.frame.DataFrame

In [44]:
df= pd.DataFrame(array_a, columns=['Column 1','Column 2','Column 3'], index = ['Row 1','Row 2'])
df

       Column 1  Column 2  Column 3
Row 1         3         2         1
Row 2         6         3         2

In [48]:
data = pd.read_csv('Lending-company.csv', index_col='LoanID')
lending_co_data=data.copy()
lending_co_data.head()

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [49]:
type(lending_co_data)

pandas.core.frame.DataFrame

In [50]:
#defalut index tpye is int64
lending_co_data.index

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043],
           dtype='int64', name='LoanID', length=1043)

In [51]:
#retrive names of all col
lending_co_data.columns

Index(['StringID', 'Product', 'CustomerGender', 'Location', 'Region',
       'TotalPrice', 'StartDate', 'Deposit', 'DailyRate', 'TotalDaysYr',
       'AmtPaid36', 'AmtPaid60', 'AmtPaid360', 'LoanStatus'],
      dtype='object')

In [52]:
# to get the combined o/p of above two attribute
lending_co_data.axes

[Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
             ...
             1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043],
            dtype='int64', name='LoanID', length=1043),
 Index(['StringID', 'Product', 'CustomerGender', 'Location', 'Region',
        'TotalPrice', 'StartDate', 'Deposit', 'DailyRate', 'TotalDaysYr',
        'AmtPaid36', 'AmtPaid60', 'AmtPaid360', 'LoanStatus'],
       dtype='object')]

In [54]:
# to get the datatypes of all col, important for cleaning and preprocessing
lending_co_data.dtypes

StringID           object
Product            object
CustomerGender     object
Location           object
Region             object
TotalPrice        float64
StartDate          object
Deposit             int64
DailyRate           int64
TotalDaysYr         int64
AmtPaid36           int64
AmtPaid60           int64
AmtPaid360          int64
LoanStatus         object
dtype: object

In [56]:
lending_co_data.to_numpy()

array([['LoanID_1', 'Product B', 'Female', ..., 4166, 14621, 'Active'],
       ['LoanID_2', 'Product D', 'Female', ..., 4096, 16041, 'Active'],
       ['LoanID_3', 'Product B', 'Male', ..., 3205, 16340, nan],
       ...,
       ['LoanID_1041', 'Product A', 'NotSpecified', ..., 5143, 16617,
        'Finished Payment'],
       ['LoanID_1042', 'Product B', 'Female', ..., 3462, 15617,
        'Finished Payment'],
       ['LoanID_1043', 'Product A', 'NotSpecified', ..., 4743, 16617,
        'Finished Payment']], dtype=object)

In [57]:
#gives o/p in terms of rows and col for 2D
lending_co_data.shape

(1043, 14)

In [58]:
#gives total number of values
lending_co_data.size

14602

In [59]:
data = pd.read_csv('Lending-company.csv', index_col='StringID')
lending_co_data=data.copy()
lending_co_data.head()

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [60]:
#retriving col values without index
lending_co_data.Product

StringID
LoanID_1       Product B
LoanID_2       Product D
LoanID_3       Product B
LoanID_4       Product A
LoanID_5       Product B
                 ...
LoanID_1039    Product B
LoanID_1040    Product A
LoanID_1041    Product A
LoanID_1042    Product B
LoanID_1043    Product A
Name: Product, Length: 1043, dtype: object

In [61]:
lending_co_data.Location

StringID
LoanID_1        Location 3
LoanID_2        Location 6
LoanID_3        Location 8
LoanID_4       Location 26
LoanID_5       Location 34
                  ...
LoanID_1039    Location 73
LoanID_1040    Location 82
LoanID_1041    Location 11
LoanID_1042    Location 26
LoanID_1043    Location 94
Name: Location, Length: 1043, dtype: object

In [63]:
#retriving col using labels, common practice
lending_co_data['Location']

StringID
LoanID_1        Location 3
LoanID_2        Location 6
LoanID_3        Location 8
LoanID_4       Location 26
LoanID_5       Location 34
                  ...
LoanID_1039    Location 73
LoanID_1040    Location 82
LoanID_1041    Location 11
LoanID_1042    Location 26
LoanID_1043    Location 94
Name: Location, Length: 1043, dtype: object

In [64]:
#getting o'p in Dataframe format
lending_co_data[['Location']]

                Location
StringID
LoanID_1      Location 3
LoanID_2      Location 6
LoanID_3      Location 8
LoanID_4     Location 26
LoanID_5     Location 34
...                  ...
LoanID_1039  Location 73
LoanID_1040  Location 82
LoanID_1041  Location 11
LoanID_1042  Location 26
LoanID_1043  Location 94

[1043 rows x 1 columns]

In [65]:
type(lending_co_data[['Location']])

pandas.core.frame.DataFrame

In [66]:
type(lending_co_data['Location'])

pandas.core.series.Series

In [67]:
#cannot retrive two columns using the Series format, have to use Dataframe format
lending_co_data[['Location', 'Product']]

                Location    Product
StringID
LoanID_1      Location 3  Product B
LoanID_2      Location 6  Product D
LoanID_3      Location 8  Product B
LoanID_4     Location 26  Product A
LoanID_5     Location 34  Product B
...                  ...        ...
LoanID_1039  Location 73  Product B
LoanID_1040  Location 82  Product A
LoanID_1041  Location 11  Product A
LoanID_1042  Location 26  Product B
LoanID_1043  Location 94  Product A

[1043 rows x 2 columns]

In [68]:
lending_co_data['Location','Product']

KeyError: ('Location', 'Product')

In [72]:
## IMPORTAANT: iloc index, common practice use in pairs of row and col
#iloc is position based, implicit  
lending_co_data.iloc[3, :]

LoanID                      4
Product             Product A
CustomerGender           Male
Location          Location 26
Region               Region 2
TotalPrice            17600.0
StartDate                 NaN
Deposit                  2200
DailyRate                  45
TotalDaysYr               365
AmtPaid36                3141
AmtPaid60                4166
AmtPaid360              16321
LoanStatus             Active
Name: LoanID_4, dtype: object

In [71]:
lending_co_data.iloc[3, 3]

'Location 26'

In [75]:
#retriving specific multi rows with all col values
lending_co_data.iloc[[4, 5], :]

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active
LoanID_6,6,Product A,Male,Location 34,Region 1,NaN,19/04/2019,2200,45,365,3301,4066,15141,Active

In [79]:
#retriving specific multi rows with specific col values
lending_co_data.iloc[[4, 5], [1,5,6]]

            Product  TotalPrice   StartDate
StringID
LoanID_5  Product B     21250.0  28/10/2017
LoanID_6  Product A         NaN  19/04/2019

In [80]:
## .loc to retrive the data using the row/col Labels
# loc is explict and label/location based
lending_co_data.loc['LoanID_33']

LoanID                    33
Product            Product A
CustomerGender          Male
Location          Location 6
Region              Region 5
TotalPrice           20250.0
StartDate         07/03/2020
Deposit                 1000
DailyRate                 55
TotalDaysYr              365
AmtPaid36              -2770
AmtPaid60              -2945
AmtPaid360              2160
LoanStatus            Active
Name: LoanID_33, dtype: object

In [81]:
#Out of bound error for iloc, single positional indexer is out-of-bounds

lending_co_data.iloc[:,14]

IndexError: single positional indexer is out-of-bounds